@charset "UTF-8";
/*variables*/
/* mapa colores*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilos para el body*/
.cuerpo {
  color: black;
  background-image: url(../assets/img/MatePaisaje2.jpg);
  background-size: 100% 119%; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen de fondo en su posición */
}
.cuerpo .carrusel {
  border-radius: 10px;
  height: 560px;
  width: 100%;
  object-fit: cover;
}
.cuerpo .letrascarrusel {
  color: black;
  font-size: Roboto, sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.678);
}
.cuerpo .colorheader {
  background-color: rgba(210, 231, 248, 0.7254901961);
}
.cuerpo .colorheader .logo {
  width: 100px;
  height: 100px;
  transition: transform 0.5s;
}
.cuerpo .colorheader .logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.cuerpo .colorheader .linknavHeader {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  margin-right: 20px;
  font-family: "Karla", sans-serif;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.631);
  box-shadow: 6px 4px 8px 1px rgba(0, 0, 0, 0.74);
  transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
}
.cuerpo .colorheader .linknavHeader:hover {
  color: black;
  box-shadow: initial;
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Animación para dispositivos grandes */
.carousel-item.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.carousel-item.slide-right {
  animation-name: slideRight;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
  .carousel-item.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .carousel-item.slide-right {
    animation-name: slideRight;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
/*estilos para los main*/
.main {
  margin-bottom: 70px;
  margin-top: 10px;
}
.main .tituloContacto {
  color: black;
  text-align: center;
  font-family: "Preguntar", sans-serif;
  text-shadow: 6px 2px 5px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  flex-direction: column;
  padding-left: 8px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.main .tituloDelIndex {
  color: white;
  font-family: "Preguntar", sans-serif;
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
.main .tituloPaginas {
  color: black;
  font-family: "Karla", sans-serif;
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.main .titulomapa {
  padding-top: 20px;
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
}
.main .titulo404error {
  font-family: "Preguntar", sans-serif;
  text-align: center;
}
.main .errorancla {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
}
.main .errorancla:hover {
  color: #0077B5;
}
.main .imgcontacto {
  padding-bottom: 15px;
  height: 430px;
}
.main .caja1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  gap: 15px;
}
.main .hijocaja1 {
  width: 367px;
  height: 430px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.144);
  box-shadow: 15px 10px 10px 0px rgba(0, 0, 0, 0.81);
  border-radius: 12px;
  border: solid 1px black;
  transition: transform 0.8s, color 0.8s, background-color 0.8s;
}
.main .hijocaja1:hover {
  box-shadow: initial;
  background-color: grey;
  transform: scale(1.1);
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
}
@media (max-width: 767px) {
  .main .hijocaja1 {
    width: 290px !important;
    height: 350px !important;
    overflow: visible !important; /* Añadimos overflow: visible */
  }
  .main .hijocaja1 img {
    object-fit: cover !important;
    width: 100% !important;
    height: 85% !important;
    border-radius: 11px !important;
  }
}
.main .hijocaja1 img {
  object-fit: cover;
  width: 365px;
  height: 370px;
  border-radius: 11px;
}
.main .videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
@media (max-width: 768px) {
  .main .videoFondo {
    max-width: 100%;
    height: auto;
  }
}
.main .letrasProductos {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.main .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  margin-top: 10px;
  color: #050000;
  padding: 7px 7px;
  text-decoration: none;
  border-radius: 17px;
  background-color: rgba(153, 188, 216, 0.738);
  box-shadow: 6px 4px 8px 1px rgba(0, 0, 0, 0.74);
  transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
}
.main .boton:hover {
  color: black;
  box-shadow: initial;
  background-color: white;
}

/* Estilos para la sección "Sobre Nosotros" */
.sobreNosotros {
  display: flex;
  align-items: center;
  padding-top: 10px; /* Agrega espacio de la sección */
}
.sobreNosotros .contenedorImgSobreNosotros {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobreNosotros .fotoquienessomos {
  border: 1px solid black;
  box-shadow: -11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 70%;
  height: 400px;
}
.sobreNosotros .contenedorTexto {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 14px;
  background-color: rgba(128, 128, 128, 0.815);
  padding-top: 10px; /* Agregar espacio alrededor del texto */
}
.sobreNosotros .tituloQuienessomos,
.sobreNosotros .tituloPorqueElegirnos {
  color: white;
  font-family: "Preguntar", sans-serif;
  height: auto;
}
.sobreNosotros .parrafoSobreNosotros {
  font-family: "Preguntar", sans-serif;
  font-size: 1.1rem;
  white-space: pre-line;
  line-height: 1.7;
}
.sobreNosotros .textoResaltado {
  color: white;
}

/* para los estilos de mi seccion Contacto, (sin img de fondo)*/
.body {
  background-color: rgba(255, 255, 255, 0.767);
}
.body .colorheader {
  background-color: rgba(210, 231, 248, 0.7254901961);
}
.body .colorheader .logo {
  width: 100px;
  height: 100px;
  transition: transform 0.5s;
}
.body .colorheader .logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.body .colorheader .linknavHeader {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  margin-right: 20px;
  font-family: "Karla", sans-serif;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.631);
  box-shadow: 6px 4px 8px 1px rgba(0, 0, 0, 0.74);
  transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
}
.body .colorheader .linknavHeader:hover {
  color: black;
  box-shadow: initial;
  background-color: white;
}

/*estilos del formulario*/
.formulario {
  font-family: "Preguntar", sans-serif;
  background-color: lightblue;
  padding: 15px;
}
.formulario .botones {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}
.formulario .comentario {
  resize: none;
}
.formulario .label {
  font-family: "Preguntar", sans-serif;
  font-size: 1.1rem;
  text-align: left;
}

.whatsapp-icon {
  position: fixed;
  bottom: 4px;
  right: 3px;
  z-index: 1000;
}
.whatsapp-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s;
}
.whatsapp-icon a:hover {
  transform: scale(1.1);
  flex-direction: column;
}
.whatsapp-icon a:hover .mensaje {
  display: inline;
  color: black;
  border-radius: 5px;
  transition: transform 0.7s;
  background-color: white;
  margin-right: 10px;
}
.whatsapp-icon .redessociales {
  margin-right: 10px;
}
.whatsapp-icon .mensaje {
  display: none;
  font-family: "Preguntar", sans-serif;
  border-radius: 10px;
  white-space: nowrap;
}

/*estilos de navegacion footer*/
.styleFooter {
  width: 100%;
  background-color: rgba(210, 231, 248, 0.7254901961);
}
.styleFooter .footer {
  color: black;
}
.styleFooter .lineaFooter {
  border-top: solid rgb(59, 57, 57);
}
.styleFooter .linknavFooter {
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}
.styleFooter .nuestrasredes {
  margin-top: 10px;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
}
.styleFooter .redessociales {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.72);
  box-shadow: 6px 4px 8px 1px rgba(0, 0, 0, 0.74);
  cursor: pointer;
  transition: transform 0.8s, color 0.8s, background-color 0.8s;
}
.styleFooter .redessociales:hover {
  box-shadow: initial;
  background-color: grey;
  transform: scale(1.2);
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
}
.styleFooter .mediosdePago {
  text-align: start;
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
}
.styleFooter .tituloHorarios {
  padding-top: 10px;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
}
.styleFooter .horarios {
  color: black;
  font-family: "Preguntar", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.styleFooter .derechosReservados {
  font-family: "Preguntar", sans-serif;
  font-size: 1.2rem;
  margin-top: 15px;
  color: black;
}
.styleFooter .linkedinLink {
  font-family: "Preguntar", sans-serif;
  color: #0077B5;
  text-decoration: none;
}
.styleFooter .linkedinLink:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=estilos.css.map */
