/* para los estilos de mi seccion Contacto, (sin img de fondo)*/
.body{
    background-color:map-get($mapa-colores,color-fondocontacto);
    .colorheader{   
        background-color: map-get($mapa-colores,color-header);
        .logo{
            width:100px; 
            height:100px;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.1);
                transition: transform 0.3s;
              }
            }
        .linknavHeader{
            text-decoration: none;
            color: map-get($mapa-colores,color-negro);
            font-size: 1.6rem;
            margin-right: 20px;
            font-family:$font-footer-header;
            border-radius: 6px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: map-get($mapa-colores,color-linkborde);
            box-shadow: 6px 4px 8px 1px rgba(0,0,0,0.74);
            transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
            &:hover{
            color: map-get($mapa-colores,color-negro);
            box-shadow: initial;
             background-color: map-get($mapa-colores,color-blanco);
           }
        }
    }           
}
