/*estilos para el body*/
.cuerpo{
    color: map-get($mapa-colores,color-negro);
    background-image: url(../assets/img/MatePaisaje2.jpg);
    background-size: 100% 119%; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo en su posición */
    .carrusel{
    border-radius: 10px;
	height: 560px; 
    width: 100%; 
    object-fit: cover;
    }
    .letrascarrusel{
        color: map-get($mapa-colores,color-negro);
        font-size: $font-boxs;
        font-size: 1.5rem;
        border-radius: 10px;
        background-color:  map-get($mapa-colores,color-fondocarrusel);
        }
    .colorheader{   
        background-color: map-get($mapa-colores,color-header);
        .logo{
            width:100px; 
            height:100px;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.1);
                transition: transform 0.3s;
              }
        }
        .linknavHeader{
            text-decoration: none;
            color: map-get($mapa-colores,color-negro);
            font-size: 1.6rem;
            margin-right: 20px;
            font-family:$font-footer-header;
            border-radius: 6px;
            background-color: map-get($mapa-colores,color-linkborde);
            box-shadow: 6px 4px 8px 1px rgba(0,0,0,0.74);
            transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
            &:hover{
                color: map-get($mapa-colores,color-negro);
                box-shadow: initial;
                background-color: map-get($mapa-colores,color-blanco);
            }
        }
    }           
}
