/*estilos para el body*/
.cuerpo{
  color: map-get($mapa-colores, color-negro);
  color: map-get($mapa-colores, color-negro);
  background-image: url(../assets/img/MatePaisaje2.jpg);
  background-size: 100% 110%; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen de fondo en su posición */
  /* Media Query para dispositivos móviles (hasta 768px de ancho) */
  @media (max-width: 576px) {
  background-size: 100% 103%;
  /* Permite el desplazamiento de fondo en dispositivos móviles */
  }
  /* Media Query para tabletas (hasta 768px de ancho) */
  @media (max-width: 768px) {
  background-size: 100% 103%;
  }
  .videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
    .carrusel{
    border-radius: 10px;
	  height: 560px; 
    width: 100%; 
    object-fit: cover;
    }
    .tituloContenedor_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .tituloContenedor {
        background-color: #add8e6; /* Celeste pastel */
        border: 2px solid grey;
        border-radius: 10px;
        width: max-content;
        text-align: center;
        display: inline-block;
        padding: 15px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        animation: titilar 2s infinite;
      }
      .tituloDelIndex_2 {
        font-family: $font-principal;
        font-size: 2.3rem;
        color: map-get($mapa-colores,color-lineafooter);
      }
      @keyframes titilar {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
      
    .letrascarrusel{
        color: map-get($mapa-colores,color-negro);
        font-size: $font-boxs;
        font-size: 1.5rem;
        border-radius: 10px;
        background-color:  map-get($mapa-colores,color-fondocarrusel);
        }
    .colorheader{   
        background-color: map-get($mapa-colores,color-header);
        .logo{
            width:100px; 
            height:100px;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.1);
                transition: transform 0.3s;
              }
        }
        .linknavHeader{
            text-decoration: none;
            color: map-get($mapa-colores,color-negro);
            font-size: 1.6rem;
            margin-right: 20px;
            font-family:$font-footer-header;
            border-radius: 6px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: map-get($mapa-colores,color-linkborde);
            box-shadow: 6px 4px 8px 1px rgba(0,0,0,0.74);
            transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
            &:hover{
                color: map-get($mapa-colores,color-negro);
                box-shadow: initial;
                background-color: map-get($mapa-colores,color-blanco);
            }
        }
    }           
}
