$font-principal: 'Preguntar', sans-serif;
$font-boxs: Roboto, sans-serif;
$font-footer-header: 'Karla', sans-serif;

/* mapa colores*/
$mapa-colores: (
color-negro: black,
color-header: rgba(210, 231, 248, 0.7254901961),
color-linkborde:  rgba(255, 255, 255, 0.631),
color-blanco: white,
color-boxfondo: rgba(255, 255, 255, 0.534),
color-gris: grey,
color-contenedortexto:rgba(128, 128, 128, 0.815),
color-textoresaltado: white,
color-formulario: lightblue,
color-fondocontacto: rgba(255, 255, 255, 0.767),
color-lineafooter: rgb(59, 57, 57),
color-fondoredes: rgba(255, 255, 255, 0.72),
color-boton: rgba(153, 188, 216, 0.738),
color-linklinkedin:  #0077B5,
color-fondocarrusel: rgba(255, 255, 255, 0.678),
);